.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent; /* Tornando a barra de navegação transparente */
}

.navbar .navbar__content {
    display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8); /* Adicionando uma cor de fundo com transparência */
  color: orange;
  border-radius: 5px;
}


.navbar .navbar__content .navbar__links {
  list-style: none;
  display: flex;
  font-size: 20px;
  padding: 20px;
}
.navbar .navbar__content .navbar__links li:hover {
  color: aliceblue;
  animation: Gradient 15s ease infinite;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
  margin-right: 1rem; /* Reduzi o espaço entre os links para economizar espaço */
}

.navbar .navbar__content .navbar__links a {
  padding: 0.5rem; /* Ajuste o padding conforme necessário */
  display: inline-block;
  color: inherit;
  text-decoration: none;
}



.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content .navbar__mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__content {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar__content .navbar__links {
    display: none;
    width: 100%;
    text-align: center;
  }

  .navbar .navbar__content .navbar__mobile {
    display: flex;
    align-items: center;
  }

  .navbar .navbar__content .navbar__mobile img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 100%; /* Alterado para cobrir a tela inteira */
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 1rem;
    display: block;
    text-align: center;
    color: black;
  }
}
