@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  position: relative;
  background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  color: #fff;
  font-family: Lato;
  
}

.navbar {
  background: rgba(0, 0, 0, 0.85);
}

.nav.navbar-nav.navbar-right li a {
  color: white;
}

p {
  padding-right: 15%;
  padding-left: 15%;
  font-size: 150%;
}

blockquote {
  margin: 2em 10%; /* Reduzi a margem para melhor adaptação */
}

#skills{
  font-size: 36px;
}
#about {
  padding-top: 160px;
  padding-right: 10%;
  padding-left: 10%; /* Reduzi os espaçamentos laterais */
  width: 100%;
  color: #fff;
  text-align: center;
  background: linear-gradient(-45deg, rgba(0, 80, 65, 0.4), rgba(6, 1, 145, 0.4), rgba(2, 142, 193, 0.4), rgba(1, 179, 137, 0.4));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

#projects{

  font-size: 36px;
}

#contact {
  padding-top: 150px; /* Reduzi a altura do topo para melhor adaptação */
  padding-bottom: 150px; /* Reduzi a altura do fundo para melhor adaptação */
  color: #fff;
  text-align: center;
}

.icons {
  text-align: center;
  max-width: 100%; /* Ocupa a largura total do contêiner pai */
  max-height: auto; /* Permite que a altura ajuste automaticamente */
}

.socialMediaSpan {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 15px;
  margin: 0px;
  transition: all .5s ease 0s;
}

/* Adicionei uma regra de mídia para ajustar o layout em telas menores */
@media only screen and (max-width: 768px) {
  .socialMediaSpan {
    margin-bottom: 15px;
  }
}
