@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  
  background: url('http://thecodeplayer.com/u/m/b1.png') no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  color: #fff;
  font-family: Lato;
}

.navbar {
  background: rgba(0, 0, 0, 0.85);
  justify-content: space-around;

}

.nav.navbar-nav.navbar-right li a {
  color: white;
  display: flex;
  
  
}


p {
  padding-right: 15%;
  padding-left: 15%;
  font-size: 150%;
}

blockquote {
  margin: 2em 10%;
}

#skills {
  font-size: 36px;
}
header, .habilidades, footer {
  height: 100%;
  width: 100%;
}

#about {
  padding-top: 160px;
  padding-right: 10px;
  padding-left: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: linear-gradient(-45deg, rgba(0, 80, 65, 0.4), rgba(6, 1, 145, 0.4), rgba(2, 142, 193, 0.4), rgba(1, 179, 137, 0.4));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
}

#projects {
  font-size: 36px;
}

#contact {
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
  text-align: center;
}

.icons {
  text-align: center;
  max-width: 100%;
  max-height: auto;
}

.socialMediaSpan {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 15px;
  margin: 0px;
  transition: all .5s ease 0s;
}

.btn {
  width: auto;
  margin: 20px;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  color: rgb(78, 0, 166) bold;
  transition: 1s ease-in-out;
  border-radius: 40px;
  font-size: 20px;
  justify-content: space-around;
  text-decoration: none;
  background-color: aliceblue;
  
  
}



.btn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}

/* Regra de mídia para ajustar o layout em telas menores */
@media only screen and (max-width: 400px) {
  p {
    padding-right: 5%;
    padding-left: 5%;
  }

  blockquote {
    margin: 2em 5%;
  }

  #about {
    padding-top: 80px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #contact {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .socialMediaSpan {
    margin-bottom: 15px;
  }
  .btn {
    width: auto; /* Reduce width for smaller screens */
    height:auto; /* Reduce height for smaller screens */
    font-size: auto; /* Reduce font size for better fit */
    text-decoration: none;
  }
  
}
